body {
	
}

.container {
	width: 1024px;
	height: auto;
	margin: 0px auto;
}

table {
	border: 1px solid black;
	padding: 5px;
	/* margin: 0px auto; */
}

table tr td {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px 5px 0px 5px;
	font-family: tahoma, sans-serif;
	font-weight: bold;
}

.center {
	margin: 0px auto;
}

.red {
	color: crimson;
}

.btn {
	background-color: crimson;
	color: white;
	font-weight: bolder;
	padding: 5px;
}

a {
	font-size: large;
	font-family: Tahoma, sans-serif;
}